@charset 'utf-8';

/*
FONTS FILE
*/

@font-face {
    font-family: 'Gotham Pro Light Italic';
    src: local('Gotham Pro Light Italic'), local('GothamPro-LightItalic'),
    url('../fonts/GothamPro-LightItalic.woff2') format('woff2'),
    url('../fonts/GothamPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro Narrow Medium';
    src: local('Gotham Pro Narrow Medium'), local('GothamProNarrow-Medium'),
    url('../fonts/GothamProNarrow-Medium.woff2') format('woff2'),
    url('../fonts/GothamProNarrow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Medium';
    src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
    url('../fonts/GothamPro-Medium.woff2') format('woff2'),
    url('../fonts/GothamPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Bold Italic';
    src: local('Gotham Pro Bold Italic'), local('GothamPro-BoldItalic'),
    url('../fonts/GothamPro-BoldItalic.woff2') format('woff2'),
    url('../fonts/GothamPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro Black Italic';
    src: local('Gotham Pro Black Italic'), local('GothamPro-BlackItalic'),
    url('../fonts/GothamPro-BlackItalic.woff2') format('woff2'),
    url('../fonts/GothamPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro Italic';
    src: local('Gotham Pro Italic'), local('GothamPro-Italic'),
    url('../fonts/GothamPro-Italic.woff2') format('woff2'),
    url('../fonts/GothamPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro Medium Italic';
    src: local('Gotham Pro Medium Italic'), local('GothamPro-MediumItalic'),
    url('../fonts/GothamPro-MediumItalic.woff2') format('woff2'),
    url('../fonts/GothamPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro Narrow Bold';
    src: local('Gotham Pro Narrow Bold'), local('GothamProNarrow-Bold'),
    url('../fonts/GothamProNarrow-Bold.woff2') format('woff2'),
    url('../fonts/GothamProNarrow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Black';
    src: local('Gotham Pro Black'), local('GothamPro-Black'),
    url('../fonts/GothamPro-Black.woff2') format('woff2'),
    url('../fonts/GothamPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Bold';
    src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
    url('../fonts/GothamPro-Bold.woff2') format('woff2'),
    url('../fonts/GothamPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro'), local('GothamPro'),
    url('../fonts/GothamPro.woff2') format('woff2'),
    url('../fonts/GothamPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Light';
    src: local('Gotham Pro Light'), local('GothamPro-Light'),
    url('../fonts/GothamPro-Light.woff2') format('woff2'),
    url('../fonts/GothamPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* This stylesheet generated by Transfonter (https://transfonter.org) on August 21, 2017 1:40 PM */

@font-face {
    font-family: 'HelveticaNeueCyr-Medium';
    src: url('../fonts/HelveticaNeueCyr-Medium.eot');
    src: local('HelveticaNeueCyr-Medium'),
    url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Heavy';
    src: url('../fonts/HelveticaNeueCyr-Heavy.eot');
    src: local('HelveticaNeueCyr-Heavy'),
    url('../fonts/HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Heavy.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-HeavyItalic';
    src: url('../fonts/HelveticaNeueCyr-HeavyItalic.eot');
    src: local('HelveticaNeueCyr-HeavyItalic'),
    url('../fonts/HelveticaNeueCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-HeavyItalic.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Black';
    src: url('../fonts/HelveticaNeueCyr-Black.eot');
    src: local('HelveticaNeueCyr-Black'),
    url('../fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-UltraLightItalic';
    src: url('../fonts/HelveticaNeueCyr-UltraLightItalic.eot');
    src: local('HelveticaNeueCyr-UltraLightItalic'),
    url('../fonts/HelveticaNeueCyr-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-UltraLightItalic.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr-BlackItalic';
    src: url('../fonts/HelveticaNeueCyr-BlackItalic.eot');
    src: local('HelveticaNeueCyr-BlackItalic'),
    url('../fonts/HelveticaNeueCyr-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-BlackItalic.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr-ThinItalic';
    src: url('../fonts/HelveticaNeueCyr-ThinItalic.eot');
    src: local('HelveticaNeueCyr-ThinItalic'),
    url('../fonts/HelveticaNeueCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-ThinItalic.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr-MediumItalic';
    src: url('../fonts/HelveticaNeueCyr-MediumItalic.eot');
    src: local('HelveticaNeueCyr-MediumItalic'),
    url('../fonts/HelveticaNeueCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-MediumItalic.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-LightItalic.eot');
    src: local('HelveticaNeueCyr-LightItalic'),
    url('../fonts/HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-LightItalic.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-UltraLight.eot');
    src: local('HelveticaNeueCyr-UltraLight'),
    url('../fonts/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-BoldItalic.eot');
    src: local('HelveticaNeueCyr-BoldItalic'),
    url('../fonts/HelveticaNeueCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-BoldItalic.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Italic.eot');
    src: local('HelveticaNeueCyr-Italic'),
    url('../fonts/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Italic.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Roman.eot');
    src: local('HelveticaNeueCyr-Roman'),
    url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Bold.eot');
    src: local('HelveticaNeueCyr-Bold'),
    url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Light.eot');
    src: local('HelveticaNeueCyr-Light'),
    url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Thin.eot');
    src: local('HelveticaNeueCyr-Thin'),
    url('../fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}



/*
COLORS
*/
$terra_full_black_fonts: #333333;
$terra_full_white_fon:#eff4f7 ;

$terra_dark_gray_fonts: #CCCCCC;
$terra_light_white_fon: #ffffff;
$terra_middle_gray_text: #666666;

$terra_blue_button: #002eff;
$terra_dark_blue: #103CA7;
$terra_gray_fonts:#999999;
$terra_white_gray_fonts:#ebebeb;

$terra_white:#bdbec0;

/*
FONTS
*/

$base_font_family: 'Arial';

$terra_light_family: 'Gotham Pro';
$terra_thin_family: 'Gotham Pro';
$terra_bold_family: 'Gotham Pro';
$terra_mini_light_family: 'Gotham Pro Light';
$terra_mini_bold_family: 'Gotham Pro Bold';
$terra_black_family:'Gotham Pro Black';
$terra_medium_family:'Gotham Pro Medium';




$terra_helvetic_medium:'HelveticaNeueCyr-Medium';

$font_h1: normal 60px/60px $terra_light_family;
$font_h2: normal 40px/40px $terra_light_family;
$font_h3: normal 40px/40px $terra_light_family;
$font_h4: normal 30px/30px $terra_light_family;
$font_h5: normal 24px/24px $terra_light_family;
$font_h6: normal 18px/18px $terra_light_family;

$font_text: normal 15px/15px $terra_light_family;
$font_caption: normal 13px/13px $terra_light_family;

//mixin

@mixin button-defolt {
   padding-top: 8px;
   padding-bottom: 12px;
   padding-left: 30px;
   padding-right: 30px;
   border-radius:20px;
   background-color: $terra_blue_button;
   cursor: pointer;
   text-transform: uppercase;
   color: $terra_light_white_fon;
   font-size: 15px;
   line-height: 15px;
}





html,
body{
    font-size: 15px;
    color: $terra_middle_gray_text;
    font-family: $terra_light_family;
}

.main_header {
 background-color: $terra_middle_gray_text;
 background-image: url("../img/main_header_fon.jpg");
 background-size: 100%;
 background-repeat: no-repeat;
 height: 0;
 padding-bottom: 30%;

 .container_header {
    margin-bottom: 8%;
}

.logo_tittle {
    margin-top: 33px;
    
    p {
        font-size: 12px;
        line-height: 1px;
        font-family: $terra_black_family;
        color: $terra_dark_gray_fonts;
        text-transform: uppercase;
    }
    span {
        font-family: $terra_mini_light_family;
        font-size: 11px;
        line-height: 11px;
        color: $terra_gray_fonts;
        padding-left: 15px;

    }
}
.header_main_nav::after {
    content: "";
    width: 202.4%;
    height: 1px;
    background-color: $terra_white;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.header_main_nav {

    .element-site {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;


        a:hover {
            background-color: rgba( 76, 75, 78, 0.5);
        }
        a {
            font-family: $terra_helvetic_medium;
            text-transform: uppercase;
            color: $terra_dark_gray_fonts;
            padding-top: 40px;
            padding-right: 10px;
            padding-left: 10px;
            padding-bottom: 25px;
            margin-right: 5px;
            display: inline-block;
        }
        &a:last-child {
           margin-right: 0;
       }
   }
}

.header_social_nav {
    .element-site {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        margin-top: 40px;

        &li:last-child {
            padding-right: 0;
        }
        li {
            padding-right: 10px;
        }
    }

}
.btn_wrap_header {
    .element_btn {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        margin-top: 35px;

        .button_header {
            @include button-defolt;
            background-color: #232526;
            color: $terra_dark_gray_fonts;
            text-transform: lowercase;
            font-family: $terra_helvetic_medium;
        }
    }
}

.main_header_title {
    text-align: center;
    .main_header_titile_one {
        font-size: 34px;
        line-height: 34px;
        color:$terra_dark_gray_fonts;
        font-family: $terra_mini_light_family;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .main_header_titile_two {
        font-size: 45px;
        line-height: 45px;
        color:$terra_dark_gray_fonts;
        font-family:$terra_black_family ;
        text-transform: uppercase;
        margin-bottom: 4.2%;

    }
    .btn_title_header {
     @include button-defolt;
     font-size: 12px;
     padding-top: 13px;
     padding-bottom: 13px;
 }
}
}

.main_title {
    padding-top: 90px;
    padding-bottom: 85px;
    border-bottom: 1px solid #c1c3c5;
    background-color: #eff4f7;
    .main_title_terra {
        font-size: 62px;
        font-family:$terra_black_family;
        line-height: 62px;
        color: $terra_full_black_fonts;
        text-transform: uppercase;
    }
    .main_title_description {
        font-size: 17px;
        line-height: 17px;
        font-family: $terra_mini_light_family;
        color: $terra_middle_gray_text;
        margin-top: 12px;
    }
    .btn_title_element {
        margin-left: 25%;
        margin-top: 18%;
        .btn_title_main {
           @include button-defolt;
           font-size: 12px;
           padding-top: 13px;
           padding-bottom: 13px;
       }
   }
}

.my_project {
    background-color: #eff4f7;
    padding-top: 35px;
    padding-bottom: 150px;
    .wrap_title {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        padding-bottom: 25px;
        .my_project_title {
            font-family: $terra_black_family;
            font-size: 60px;
            line-height: 60px;
            color: $terra_full_black_fonts;

        }
    }
    .my_project_img_wrap{
        .row {
            padding-left: 3%;
            padding-right: 3%;
            justify-content: center;
        }
        .inner_project {
            .element_my_project {
                max-width: 20%;
                margin-right: 1.2%;
                border: 1px solid #666666;
                padding: 0.6%;
                .wrap_project_text {
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    flex-direction: column;
                    .button__description {
                        @include button-defolt;
                        color: #fff;
                        font-size: 12px;
                        background-color: #002EFF;
                        text-transform: uppercase;
                        margin-bottom: 15%;
                        margin-top: 15%;
                        font-family: $terra_helvetic_medium;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        padding-left: 25px;
                        padding-right: 25px;
                    }
                    span,h3,a {
                        margin-right: auto;
                        margin-left: auto;
                    }
                    span {
                        padding-top: 9px;
                        padding-bottom: 8px;
                        color: $terra_middle_gray_text;
                    }
                    .inner_project_title::before {
                     content: "";
                     position: absolute;
                     width: 54%;
                     height: 0.2%;
                     top: 64%;
                     left: 22%;
                     background-color: #6699cc;
                 }
                 .inner_project_title {
                    font-size: 24px;
                    line-height: 24px;
                    font-family: $terra_black_family;
                    text-transform: uppercase;
                    color: $terra_middle_gray_text;
                    padding-top: 5px;
                }
            }
            img {
                width: 100%;
            }
        }
        .element_my_project:last-child {
            margin-right: 0px;
        }
    }
}
}

.description_work {

    .img_work {
        max-width: 40%;
        img {
            width: 100%;
        }
    }
    .work_wrap {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        margin-top: 26px;
        .container {
            .row {
                justify-content: center;
            }
        }
    }
    h2,p {
        margin-right: auto;
        margin-left: auto;
        color: $terra_middle_gray_text;
    }
    h2 {
        font-size: 60px;
        font-family: $terra_black_family;
        padding-bottom: 14px;
    }
    p {
        font-size: 18px;
    }
    .row {

        div {
            position: relative;
        }
        .description_work_text_right {
            margin-right: 20px;
        }
        .description_work_text_one:before {
            content:"";
            position: absolute;
            background-image: url("../img/why_one.png");
            background-repeat: no-repeat;
            width:46px ;
            height: 46px;
            top: 18px;
        }

        .description_work_text_two:before {
            content:"";
            position: absolute;
            background-image: url("../img/why_two.png");
            background-repeat: no-repeat;
            width:46px ;
            height: 46px;
            top: 18px;
        }

        .description_work_text_three:before {
            content:"";
            position: absolute;
            background-image: url("../img/why_three.png");
            background-repeat: no-repeat;
            width:46px ;
            height: 46px;
            top: 68px;
        }
        .description_work_text_four:before {
            content:"";
            position: absolute;
            background-image: url("../img/why_four.png");
            background-repeat: no-repeat;
            width:46px ;
            height: 46px;
            top: 68px;
        }

        .description_work_text {

            font-size: 12px;
            line-height: 16px;
            font-family: $terra_medium_family ;
            &.description_work_text_top {
                margin-top: 80px;
            }
            &.description_work_text_bottom {
                margin-top: 154px;
            }

        }
    }
}
.question {
    .row { 
        h2 {
            font-size: 60px;
            color: $terra_full_black_fonts;
            font-family: $terra_black_family;
        }
    }
    p {
        font-size: 16px;
        line-height: 16px;
        color: $terra_full_black_fonts;
        margin-top: 27px;
    }
    .button__description {
     @include button-defolt;
     background-color: #002eff;
     text-transform: uppercase;
     margin-top: 25px;
     font-size: 12px;
     line-height: 12px;
     display: inline-block;
     padding-top: 12px;
     padding-bottom: 14px;
     padding-left: 20px;
     padding-right: 20px;
     font-family: $terra_helvetic_medium;
 }
}

.main_slider {
    overflow-x:hidden;
    .regular {
        div {
           margin-right: 10px;     
           img {

            height: 287px;
            width: 100%;
        }
    }

}
}

.cost_project {
    padding-top: 50px;
    background-image: url("../img/fon.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 center;
    height: 0;
    padding-bottom: 30%;
    .wrap_cost_project {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        
        h2,p {
          margin-left: auto;
          margin-right: auto;
      }
      h2 {
        font-family:$terra_black_family;
        font-size: 60px;
        line-height: 60px;
        color: $terra_full_black_fonts;
        padding-bottom: 10px;
    }
    p {
        font-size: 18px;
        line-height: 18px;
    }
}
.row {
    justify-content: center;
    .description_cost_project {
     margin-right: 30px;
     .number_cost_project {
        padding-top: 20px;
        color: #8daed5;
        text-align: center;
        font-family: $terra_black_family;
        font-size: 31px;
        line-height: 31px;
    }
    .month_cost_project {
        color: #8daed5;
        text-align: center;
    }
    .element_cost_project {
        background-color: #eff4f7;
        border-radius:20px ;
        margin-top: 40px;
        padding-bottom: 120px;
        h4,p {
            color: #989898;
        }
        h4 {
            text-align: center;
            font-size: 21px;
            line-height: 21px;
            font-family: $terra_mini_bold_family;
        }
        p {
            font-size: 12px;
            line-height: 16px;
            padding-top: 20px;
            margin-right: 60px;
            margin-left: 60px;
            border-bottom: 1px solid #989898;
            padding-bottom: 15px;
        }
        .cost_main_title {
            padding-top: 50px;
        }
    }
    .element_cost_project_active {
        background-color: #fff;
        padding-bottom: 48px;
        .cost_main_title {
            color: #090909;
        }
        .title_radio {
            font-family: $terra_mini_light_family;
        }
        .price_project {
            font-family: $terra_black_family;
            color: #090909;
            font-size: 48px;
            line-height: 48px;
            text-align: center;
            padding-top: 35px;
        }
        p {
            font-family: $terra_light_family;
            font-size: 16px;
            line-height: 16px;
            color: #090909;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 27px;
        }
        .button_cost_wrap {
            text-align: center;
            border-bottom: none;
            padding-top: 30px;
        }
        .button_cost {
            @include button-defolt;
            font-size: 12px;
        }
    }

}
.description_cost_project_active {
    .number_cost_project { 
        color: #1468c9; 
    }
    .month_cost_project {
        color: #1468c9;
    }
}
.description_cost_project:last-child {
    margin-right: 0;
}
}
}

.my_team {
    margin-top: 30px;
    .my_team_title {
        text-align: center;
        font-family: $terra_black_family;
        font-size: 60px;
        line-height: 60px;
        color: $terra_full_black_fonts;
    }
    .row {
        margin-top: 25px;
        justify-content: center;
        .my_team_element_wrap {
            margin-right: 85px;
            max-width: 22%;

            .my_team_element {
                background-color: $terra_white_gray_fonts;
                p {
                    text-align: center;
                }
                .img_my_team {
                    padding-top: 10px;
                    padding-bottom: 25px;
                }
                h5,h6 {
                    text-align: center;
                }
                h5 {
                    font-family: $terra_medium_family;
                    font-size: 24px;
                    line-height: 24px;
                    color: #003399;
                    padding-bottom: 5px;
                }
                .name_my_team {
                    padding-bottom: 45px;
                }
                h6 {
                    font-size: 18px;
                    line-height: 18px;
                    color: $terra_middle_gray_text;
                    padding-bottom: 22px;
                }
                .description_my_team {
                    font-family: $terra_medium_family;
                    font-size: 16px;
                    line-height: 20px;
                    color: $terra_full_black_fonts;
                    padding-right: 36px;
                    padding-left: 36px;
                }
                .social_my_team {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
        }
        .my_team_element_wrap:last-child {
            margin-right: 0;
        }
    }
}

.our_service {
    margin-top: 35px;
    .row {
        .wrap_our_service {
            &.element_our_service_two{
                background-color: #eeeeee;
            }
            &.element_our_service_three{
                background-color: #1942ff;
            }
            &.element_our_service_four{
                background-color: #eeeeee;
            }
            .element_our_service {
                &.element_our_service_one{
                    background-color: #1942ff;
                }
                text-align: center;

                img {
                    padding-top: 40px;
                    padding-bottom: 22px;
                }
                p {
                    font-family: $terra_medium_family;
                    color: #000;
                    font-size: 20px;
                    line-height: 20px;
                    padding-bottom: 60px;
                }
            }
        }
    }
}


.about_us {
    margin-top: 30px;
    margin-bottom: 30px;
    .container-fluid {
      .about_us_box {
        margin-bottom: 20px;
    }
    h2 {
        font-family: $terra_black_family;
        font-size: 60px;
        line-height: 60px;
        padding-left: 142px;
        color: $terra_full_black_fonts;
        margin-bottom: 45px;
    }
    .row {
        justify-content: center;
        .about_us_wrap {
            max-width: 30%;
            .row {
                .about_us_element {
                    h3 {
                        font-family: $terra_black_family;
                        font-size: 24px;
                        line-height: 24px;
                        color: $terra_blue_button;
                        margin-bottom: 25px;
                    }
                    p {
                        margin-bottom: 15px;
                    }
                    .read_further {
                        color: #003399;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

}
.button_about_us_text {
    text-align: center;
    margin-top: 25px;
    .button_about_us {
       @include button-defolt;
       padding-left: 20px;
       padding-right: 20px;
   }
}
}

.main_footer {
    .footer_form {
        background-image: url("../img/fon_footer.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 0;
        padding-bottom: 30%;
        background-position: 0 center;
    }
    .form_title_one,
     .form_title_two {
        font-family: $terra_black_family;
        font-size: 48px;
        line-height: 48px;
        color: $terra_full_black_fonts;
    }
    .form_title_two {
       margin-left: 280px;
    }
}