html {
  overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    padding: 10px 30px;
    color: white;
    background: rgb(0,100, 250);
    margin: 50px;
}
p {
    font-size: 40px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}
body.modal-open {
   margin: 0; height: 100%;
   position: fixed;
}

.closeBtn::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 22px;
    transform: rotate(45deg);
    top: -2px;
    right: 15px;
    background-color: red;
}

.closeBtn::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 22px;
    transform: rotate(-45deg);
    top: -2px;
    right: 15px;
    background-color: red;
}

.closeBtn{
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 20px;
  right: 19px; 
  top: 22px;


}

.modal {
    display: none;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    perspective: 500px;
    
}

.modal .modal-wrapper {
    width: 27%;
    max-width: 500px;
    top: 15%;
    position: absolute;
    text-align: left;
    animation-name:modalopen;
    animation-duration:.8s;
    transform: rotateX(0deg);
}

.modal-header, .modal-body, .modal-footer {
    padding: 5px 15px;
}



.modal-header{
    text-align: center;
    color: black;
}

.modal-body {
    background: white;
    padding-top: 105px;
    padding-bottom: 200px;
    border-radius: 20px;
}

.modal-body h1 {
    padding-bottom: 30px;
    font-size: 45px;
}

@keyframes modalopen{
  from {
    opacity: 0; 
    top: 5%;
    transform: rotateX(15deg);
   }
  to {
    opacity: 1; 
    top: 15%; 
    transform: rotateX(0deg);
    }
}
