body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  color: #cccccc; }

a {
  color: #fff; }

a:hover {
  color: #fff; }

.button {
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px; }

.main_header {
  background-image: url("../img/main_header_fon.jpg");
  background-size: 100%;
  background-repeat: no-repeat; }
  .main_header .main_header_nav {
    max-width: 1500px;
    display: flex;
    margin-left: auto;
    margin-right: auto; }
    .main_header .main_header_nav .list_header_logo {
      margin-top: 30px;
      margin-left: 51px; }
      .main_header .main_header_nav .list_header_logo li a .logo_title {
        font-size: 13px;
        line-height: 6px;
        font-weight: 900;
        font-style: normal;
        text-transform: uppercase;
        color: #cccccc; }
      .main_header .main_header_nav .list_header_logo li a .logo_title_text {
        font-size: 12px;
        padding-left: 19px;
        font-family: 'Gotham Pro';
        color: #cccccc; }
    .main_header .main_header_nav .header_bottom_nav:before {
      width: 177%;
      top: 43px;
      left: -25px;
      height: 1px;
      content: "";
      position: absolute;
      background-color: #b0b1b3; }
    .main_header .main_header_nav .header_bottom_nav {
      margin-left: 32%;
      margin-top: 42px; }
      .main_header .main_header_nav .header_bottom_nav .list_main_nav li {
        margin-right: 10px;
        margin-left: 10px; }
        .main_header .main_header_nav .header_bottom_nav .list_main_nav li a {
          text-transform: uppercase;
          font-weight: 600;
          font-style: normal;
          font-size: 16px; }
    .main_header .main_header_nav .header_bottom_social {
      margin-left: 12%; }
      .main_header .main_header_nav .header_bottom_social .list_main_social {
        position: relative;
        margin-top: 30px;
        margin-left: 32px; }
        .main_header .main_header_nav .header_bottom_social .list_main_social li .social_skype:before {
          content: "";
          background-image: url("../img/skype.png");
          background-repeat: no-repeat;
          position: absolute;
          width: 26px;
          height: 25px;
          top: 10px;
          right: 217px; }
        .main_header .main_header_nav .header_bottom_social .list_main_social li .social_vk:before {
          content: "";
          background-image: url("../img/vk.png");
          background-repeat: no-repeat;
          position: absolute;
          width: 26px;
          height: 27px;
          top: 9px;
          right: 184px; }
        .main_header .main_header_nav .header_bottom_social .list_main_social li .social_facebook:before {
          content: "";
          background-image: url("../img/facebook.png");
          background-repeat: no-repeat;
          position: absolute;
          width: 26px;
          height: 25px;
          top: 10px;
          right: 149px; }
    .main_header .main_header_nav .button_header_nav {
      margin-right: 10px;
      text-transform: lowercase;
      background-color: #252527; }
  .main_header .main_header_title {
    margin-left: 42%;
    margin-right: auto;
    margin-top: 7.9%; }
    .main_header .main_header_title .main_header_title_site {
      font-size: 34px;
      text-transform: uppercase;
      letter-spacing: 0.1em; }
    .main_header .main_header_title .main_header_title_welcome {
      font-size: 45px;
      text-transform: uppercase;
      letter-spacing: 0.13em;
      font-weight: 1000; }
    .main_header .main_header_title .button_header_title {
      margin-left: 27%;
      margin-top: 12.6%;
      margin-bottom: 21%;
      text-transform: uppercase; }
      .main_header .main_header_title .button_header_title a {
        background-color: #002eff;
        font-size: 11px; }

.header__description {
  padding-top: 80px;
  background-color: #eff4f7;
  border-bottom: 1px solid #c1c3c5;
  padding-bottom: 91px; }
  .header__description .my__container {
    max-width: 1200px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto; }

.title__description {
  font-size: 62px;
  line-height: 62px;
  color: #333333;
  text-transform: uppercase;
  font-weight: 900; }

.element__title__description {
  padding-left: 9px; }

.header__description__text {
  padding-left: 127px;
  margin-top: 13px; }
  .header__description__text p {
    font-size: 17px;
    color: #666666; }

.element_button__description {
  margin-top: 50px;
  padding-left: 96px; }
  .element_button__description .button__description {
    color: #fff;
    background-color: #002EFF;
    text-transform: uppercase; }

.my_project {
  background-color: #eff4f7;
  padding-bottom: 8%; }
  .my_project .contener_my_project {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto; }
    .my_project .contener_my_project .wrap {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex; }
  .my_project .title_my_project {
    font-size: 60px;
    font-weight: 900;
    margin-right: auto;
    margin-left: auto;
    padding-right: 28px;
    padding-top: 15px;
    color: #333333; }
  .my_project .inner_project {
    max-width: 1360px;
    margin-top: 23px;
    margin-left: 69px; }
    .my_project .inner_project .element_my_project {
      max-width: 24%;
      margin-right: 10px;
      border: 1px solid #666666;
      padding: 10px; }
      .my_project .inner_project .element_my_project .wrap_project_text {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column; }
        .my_project .inner_project .element_my_project .wrap_project_text .button__description {
          color: #fff;
          background-color: #002EFF;
          text-transform: uppercase;
          margin-bottom: 51px;
          margin-top: 50px; }
        .my_project .inner_project .element_my_project .wrap_project_text span, .my_project .inner_project .element_my_project .wrap_project_text h3, .my_project .inner_project .element_my_project .wrap_project_text a {
          margin-right: auto;
          margin-left: auto; }
        .my_project .inner_project .element_my_project .wrap_project_text span {
          padding-top: 9px;
          padding-bottom: 8px;
          color: #666666; }
        .my_project .inner_project .element_my_project .wrap_project_text .inner_project_title {
          font-size: 24px;
          font-weight: 600;
          text-transform: uppercase;
          color: #666666;
          border-top: 1px solid #6699cc;
          padding-top: 5px; }
      .my_project .inner_project .element_my_project img {
        width: 100%; }
    .my_project .inner_project .element_my_project:last-child {
      margin-right: 0px; }

.description_work {
  margin-bottom: 20px; }
  .description_work .img_work {
    max-width: 40%; }
    .description_work .img_work img {
      width: 100%;
      background-position: 100 10; }
  .description_work .work_wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    max-width: 650px;
    margin-left: 176px;
    margin-top: 26px; }
  .description_work h1, .description_work p {
    margin-right: auto;
    margin-left: auto;
    color: #666666; }
  .description_work h1 {
    font-size: 60px;
    font-weight: 900;
    padding-bottom: 14px; }
  .description_work p {
    font-size: 18px; }
  .description_work .row div {
    position: relative; }
  .description_work .row .description_work_text_right {
    margin-right: 20px; }
  .description_work .row .description_work_text_one:before {
    content: "";
    position: absolute;
    background-image: url("../img/why_one.png");
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;
    top: 18px; }
  .description_work .row .description_work_text_two:before {
    content: "";
    position: absolute;
    background-image: url("../img/why_two.png");
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;
    top: 18px; }
  .description_work .row .description_work_text_three:before {
    content: "";
    position: absolute;
    background-image: url("../img/why_three.png");
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;
    top: 68px; }
  .description_work .row .description_work_text_four:before {
    content: "";
    position: absolute;
    background-image: url("../img/why_four.png");
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;
    top: 68px; }
  .description_work .row .description_work_text {
    font-size: 12px; }
    .description_work .row .description_work_text.description_work_text_top {
      margin-top: 80px; }
    .description_work .row .description_work_text.description_work_text_bottom {
      margin-top: 154px; }

.question {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }
  .question .question_container {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto; }
  .question .row h1 {
    font-size: 60px;
    color: #333333;
    font-weight: 900; }
  .question p {
    font-size: 16px;
    color: #333333;
    margin-top: 27px; }
  .question .button__description {
    background-color: #002eff;
    text-transform: uppercase;
    margin-top: 25px;
    margin-left: 64px;
    display: inline-block; }

/*# sourceMappingURL=style.css.map */
